<style>
.footer {
    overflow: auto;
    background: #2B217C;
    padding: 24px;
}

.footer-title {
    color: white;
    font-size: 30px;
    font-family: 'Muli', sans-serif;
    margin-bottom: 22px;
    margin-top: 0;
}

.footer-social-link {
    font-size: 16px;
    font-family: 'Roboto Slab', sans-serif;
    margin-right: 15px;
}
.footer-social-link:link {
    color: white;
}
.footer-social-link:visited {
    color: white;
}
.footer-social-link:hover {
    color: white;
}
.footer-social-link:active {
    color: white;
}

.footer-email-form {
    display: block;
    margin-top: 16px;
}

#mce-EMAIL {
    border: 3px solid #2B217C;
    border-right: none;
    padding: 10px;
    font-size: 20px;
    float:left;
    color: #2B217C;
    font-family: 'Roboto Slab', sans-serif;
    width: calc(100% - 150px);
    height: 50px;
}
#mce-EMAIL:focus {
    outline: none;
}
#mce-EMAIL::placeholder {
    color: #2B217C;
    font-family: 'Roboto Slab', sans-serif;
}

#mc-embedded-subscribe {
    border: 3px solid #2B217C;
    font-weight: bold;
    padding: 10px 25px;
    width: 150px;
    height: 50px;
    font-size: 20px;
    margin: 0;
    background: white;
    color: #2B217C;
    float: left;
    cursor: pointer;
}
</style>
<footer class="footer">
    <h3 class="footer-title">Follow along with Who Cares?</h3>
    <span class="footer-socials">
    <a href="https://www.instagram.com/whocares.ink/" class="footer-social-link">
        Instagram
    </a>
    <a href="https://twitter.com/whocaresink" class="footer-social-link">
        Twitter
    </a>
    <a href="mailto:hello@whocares.ink" class="footer-social-link">
        Email us!
    </a>
    </span>
    
    <!-- Begin Mailchimp Signup Form -->
    <form action="https://ink.us20.list-manage.com/subscribe/post?u=6e6118dcef1be7b1dd65e637b&amp;id=2f1c20dcce" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate class="footer-email-form">
        <!--<label for="mce-EMAIL" style="color: white;">Email Address<span>*</span></label>-->
        <input type="email" value="" placeholder="Email address" name="EMAIL" id="mce-EMAIL">
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6e6118dcef1be7b1dd65e637b_2f1c20dcce" tabindex="-1" value=""></div>
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
    </form>
</footer>