<footer class="footer">
    <h3 class="footer-title">Follow along</h3>
    <span class="footer-socials">
        <a href="www.instagram.com" class="footer-social-link">
        Instagram
        </a>
        <a href="www.twitter.com" class="footer-social-link">
        Twitter
        </a>
    </span>
    
    <!-- Begin Mailchimp Signup Form -->
    <form action="https://ink.us20.list-manage.com/subscribe/post?u=6e6118dcef1be7b1dd65e637b&amp;id=2f1c20dcce" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate class="footer-email-form">
        <!--<label for="mce-EMAIL" style="color: white;">Email Address<span>*</span></label>-->
        <input type="email" value="" placeholder="Email address" name="EMAIL" id="mce-EMAIL">
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6e6118dcef1be7b1dd65e637b_2f1c20dcce" tabindex="-1" value=""></div>
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
    </form>
</footer>