@import url('https://fonts.googleapis.com/css?family=Muli:700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

$primary: #2B217C;
$max-width: 900px;

html, body {
    margin: 0;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}

.header {
    background: #2B217C;
    color: white;
    font-family: sans-serif;
    padding: 15px;

    display: grid;
    grid-template-columns: 1fr 900px 1fr;
    grid-column-gap: 0px;
}

.header-logo {
    grid-column: 1;
    text-align: right;
}

.header-flavour {
    grid-column: 3;
}

.header-flavour-dog {
    position: absolute;
    right: -36px;
}

.header-content {
    grid-column: 2;
}

.header-text {
    margin: 10px 0 10px 0;
    font-size: 20px;
    font-family: sans-serif;
    color: white;
}

.header-about-link {
    font-size: 20px;
    font-family: sans-serif;
}
.header-about-link:link {
    color: white;
}
.header-about-link:visited {
    color: white;
}
.header-about-link:hover {
    color: white;
}
.header-about-link:active {
    color: white;
}

a {
    color: inherit;
}

.font-primary {
    font-family: 'Muli', sans-serif;
    letter-spacing: -3px;
}

.font-secondary {
    font-family: 'Roboto Slab', sans-serif;
}

.text-underline {
    text-decoration: underline;
}

.text-nodecoration {
    text-decoration: none;
}

.articles {
    color: $primary;
    max-width: $max-width;
    margin: 0 auto;
}

.article {
    max-width: $max-width;
    position: relative;
    display: block;
    height: 300px;
}

.article--title {
    font-size: 75px;
    text-decoration: none;
}

.article--subtitle {
    font-weight: bold;
    font-size: 20px;
}

.article--date {
    position: absolute;
    bottom:0;
    left:0;
}

.article--img {
    position: absolute;
    right:0;
    top:0;
    z-index: -1;
    height:300px;
}


.header-text {
color: white;
margin: 0 auto;
max-width: $max-width;
font-family: sans-serif;
}

.footer {
    margin: 0 auto;
    max-width: 900px;
}

.footer-title {
    color: #2B217C;
    font-size: 30px;
    font-family: sans-serif;
    margin-bottom: 22px;
}

.footer-social-link {
    font-size: 16px;
    font-family: sans-serif;
    margin-right: 15px;
}
.footer-social-link:link {
    color: #2B217C;
}
.footer-social-link:visited {
    color: #2B217C;
}
.footer-social-link:hover {
    color: #2B217C;
}
.footer-social-link:active {
    color: #2B217C;
}

.footer-email-form {
    display: block;
    margin-top: 16px;
}

#mce-EMAIL {
    border: 3px solid #2B217C;
    padding: 10px;
    font-size: 20px;
    float:left;
    color: #2B217C;
    width: calc(100% - 206px);
}
#mce-EMAIL:focus {
    outline: none;
}
#mce-EMAIL::placeholder {
    color: #2B217C;
    font-weight: 100;
}

#mc-embedded-subscribe {
    border: 3px solid #2B217C;
    padding: 10px 25px;
    width: 150px;
    font-size: 20px;
    margin: 0;
    background: #2B217C;
    color: white;
    float: left;
    cursor: pointer;
}