@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

body, html
{
    margin: 0;
    -webkit-font-smoothing: antialiased;
    font-family: Lora;
    color: #333;
}

p {
    font-size: 30px;
    line-height: 40px;
    margin: 30px auto;
    font-weight: 100;
    max-width: 900px;
    box-sizing: border-box;
    font-family: 'Varela Round', Helvetica, sans-serif;
}

hr {
    max-width: 900px;
}

.text-bold {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

@media (max-width: 920px) {
    p {
        padding: 0 10px;
        width: 100%;
    }

    h1, h2, h3 { 
        padding: 0 10px;
        width: 100%;
    }
  }