<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    {% include head.html %}
    <title>{{ site.title }}</title>
  </head>
  
  <body>
    <header class="header">
      <div class="header-logo">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="265" height="115" viewBox="0 0 375.83 215">
          <defs>
            <clipPath id="clip-path">
              <rect width="375.83" height="215" fill="none"/>
            </clipPath>
          </defs>
          <g id="Component_1_5" data-name="Component 1 – 5" clip-path="url(#clip-path)">
            <text id="Who_Cares" data-name="Who 
        Cares" transform="translate(0 107.339)" fill="#fff" font-size="89" font-family="Futura-Bold, Futura" font-weight="700" letter-spacing="-0.058em"><tspan x="0" y="0">Who </tspan><tspan x="0" y="82">Cares</tspan></text>
            <path id="Path_8" data-name="Path 8" d="M39.924,122.59v-45.8q2.818.47,5.167.822a30.124,30.124,0,0,0,4.462.352A39.932,39.932,0,0,0,61.53,76.208a32.4,32.4,0,0,0,9.746-4.814A22.426,22.426,0,0,0,77.734,64a19.681,19.681,0,0,0,2.348-9.511,17.554,17.554,0,0,0-4.7-12.212q-4.7-5.167-12.682-5.167a14.72,14.72,0,0,0-11.625,4.932q-4.345,4.932-4.345,12.917H0A49.873,49.873,0,0,1,4.814,33,53.41,53.41,0,0,1,18.2,15.617,62.366,62.366,0,0,1,38.4,4.11,75.233,75.233,0,0,1,63.643,0,67.1,67.1,0,0,1,88.89,4.58,61.888,61.888,0,0,1,108.5,16.909a54.74,54.74,0,0,1,12.682,17.848,51.193,51.193,0,0,1,4.462,20.9q0,35.227-42.507,50.022V122.59Zm-4.7,36.871a27.52,27.52,0,1,1,2.114,10.686A27.393,27.393,0,0,1,35.227,159.461Z" transform="translate(253.408 0) rotate(13)" fill="#fff"/>
          </g>
        </svg>
      </div>
      <div class="header-content">
        <p class="header-text">
          A party of two.<br>
          Interactive articles<br>
          We create for you.<br>
        </p>
        <a href="about" class="header-about-link">about</a>
      </div>
      <div class="header-flavour">
        <svg xmlns="http://www.w3.org/2000/svg" width="300" height="180" viewBox="0 0 366.484 275.262" class="header-flavour-dog">
          <g id="Group_1" data-name="Group 1" transform="translate(-299.252 -525.191) rotate(-20)">
            <path id="Path_43" data-name="Path 43" d="M20786.273,6478.614s-5.756,43.673,6.738,63.428,43.238,15.591,43.238,15.591,17.07-71.484,0-103.007-36.229-41.586-74.494-29.818-32.48,40.212-78.572,53.807-99.58,7.306-99.58,7.306,6.641,42.866,37.186,56.122,86.24,15.591,86.24,15.591l41.551,33.468,6.428,7.769" transform="translate(-20505 -5727)" fill="none" stroke="#fff" stroke-width="16"/>
            <path id="Path_44" data-name="Path 44" d="M20837.266,6525.007c13.291,15.952,52.146,58.463,52.146,58.463" transform="translate(-20498 -5734)" fill="none" stroke="#fff" stroke-width="16"/>
            <path id="Path_45" data-name="Path 45" d="M20596.248,6517.6s14.029-3.884,22.225-11.525,12.041-15.624,10.559-19.04c-3.314-7.641-46.039,0-46.039,0Z" transform="translate(-20504 -5722)" fill="#fff"/>
            <path id="Path_46" data-name="Path 46" d="M20724.559,6469l20.342,19.641,21.246-19.641" transform="translate(-20500 -5722)" fill="none" stroke="#fff" stroke-linejoin="round" stroke-width="16"/>
            <path id="Path_47" data-name="Path 47" d="M20724.559,6469l20.342,19.641,21.246-19.641" transform="translate(-20542 -5749)" fill="none" stroke="#fff" stroke-linejoin="round" stroke-width="16"/>
          </g>
        </svg>
      </div>
    </header>

        
        <div class="articles">
          {% for post in site.posts %}
            <a class="article" href="{{ post.url }}">
              <div class="article--title font-primary text-underline">{{ post.title }}</div>
              <div class="article--subtitle font-secondary text-nodecoration">{{ post.subtitle }}</div>
              <div class="article--date font-secondary text-nodecoration">{{ post.date | date: "%B" }}</div>

              <img class="article--img" src="assets/articles/{{ post.snaketitle }}/img/{{ post.snaketitle }}.png">
            </a>
          {% endfor %}
        </div>
        
        
    <footer class="footer">
      <h3 class="footer-title">Follow along</h3>
      <span class="footer-socials">
        <a href="www.instagram.com" class="footer-social-link">
          Instagram
        </a>
        <a href="www.twitter.com" class="footer-social-link">
          Twitter
        </a>
      </span>
      
      <!-- Begin Mailchimp Signup Form -->
      <form action="https://ink.us20.list-manage.com/subscribe/post?u=6e6118dcef1be7b1dd65e637b&amp;id=2f1c20dcce" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate class="footer-email-form">
          <!--<label for="mce-EMAIL" style="color: white;">Email Address<span>*</span></label>-->
          <input type="email" value="" placeholder="Email address" name="EMAIL" id="mce-EMAIL">
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6e6118dcef1be7b1dd65e637b_2f1c20dcce" tabindex="-1" value=""></div>
          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
      </form>
    </footer>
  </body>
  {% if jekyll.environment == 'production' %}
  {% include analytics.html %}
  {% endif %}
</html>