@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

/**** GLOBAL  ****/

html, body {
  color: #333;
  overflow-x: hidden;
  margin:0;
}

.article-logo {
  position: absolute;
  height: 40px;
  width: auto;
  top: 15px;
  margin:0 auto;left:0;right:0;
  z-index:99;
}

p {
  font-size: 30px;
  line-height: 40px;
  margin: 30px auto;
  font-weight: 100;
  max-width: 900px;
  box-sizing: border-box;
  font-family: 'Varela Round', Helvetica, sans-serif;
}

strong {
  color: #2B207C;
}

hr {
    max-width: 900px;
}

.hero {
  margin: 30px auto;
  font-weight: 100;
  max-width: 900px;
  height: 700px;
  position: relative;
}

.title {
  position: absolute;
  margin-left: 540px;
  margin-top: 200px;
  margin-right: 20px;
}

.title-subtext {
  font-size: 34px;
  font-family: 'Varela Round', Helvetica, sans-serif;
  margin: 0;
  color: #888;
}

.title-text {
  font-size: 60px;
  font-family: 'Varela Round', Helvetica, sans-serif;
  font-weight: bold;
  margin: 0;
  margin-bottom: 5px;
  letter-spacing: 4px;
  text-transform: uppercase;
  line-height: 60px;
}

.title-date {
  font-size: 20px;
  margin-bottom: 10px;
  font-family: 'Varela Round', Helvetica, sans-serif;
}

#canvas {
  position: absolute;
  margin-left: -230px;
}

.grab-cursor {
  cursor: grab;
}

#globe-helper {
  position: absolute;
  z-index: 99;
  height: 50px;
  top: 300px;
  left:0;
  margin-left: -180px;
  opacity: 0;
}

#dice-helper {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  left: 80px;
  right: 0;
  top: 350px;
  animation: dice-doit 2s ease-in-out forwards infinite;
  transition: opacity 1s;
}

#globe-helper.active {
  animation: doit-desktop 2s ease-in-out forwards;
}

@keyframes dice-doit {
  0% {
    
  }
  50% {
    transform: translateX(60px) scale(1.1);
  }
}

@keyframes doit-desktop {
  0% {
    
  }
  20% {
    opacity:1;
    transform: translateX(0);
  }
  80% {
    opacity: 1;
    transform: translateX(660px);
  }
  100% {
    transform: translateX(660px);
    opacity: 0;
  }
}


.big {
  font-size: 40px;
}

.eiffel {
  float: left; 
  shape-outside: url('/assets/articles/creative-travel/img/eiffel_illustration.png');
}

@media (max-width: 1111px) {
  .eiffel {
    width: 270px;
    height: auto;
  }

  .title, #canvas {
    position: relative;
    margin-left: 0;
    margin-top: 0;
    max-width: 100%;
  }

  #globe-helper {
    margin-left: 0;
    top:170px;
  }

  #globe-helper.active {
    animation: doit-mobile 2s ease-in-out forwards;
  }
  
  @keyframes doit-mobile {
    0% {
      
    }
    20% {
      opacity:1;
      transform: translateX(0);
    }
    80% {
      opacity: 1;
      transform: translateX(400px);
    }
    100% {
      transform: translateX(400px);
      opacity: 0;
    }
  }

  #canvas {
    margin-bottom: 20px;
  }

  .hero {
    height: auto;
  }    

  p {
    font-size: 21px;
    line-height: 29px;
  }
}

.text-bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

@media (max-width: 920px) {
  p {
      padding: 0 15px;
      width: 100%;
  }

  h1, h2, h3 { 
      padding: 0 15px;
      width: 100%;
  }
}


/**** SOUNDS  ****/

#sounds {
  height: 480px;
  position: relative;
  width: 100%;
  max-width:990px;
  margin: 30px auto 70px auto;
  display: flex;
  justify-content: space-between;

}

.sounds--img {
  cursor: pointer;
  opacity: 0.7;
  width: 30%;
  background-size: cover;
  background-repeat: no-repeat;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

#sounds--btn {
  cursor: pointer;
  font-family: 'Varela Round', Helvetica, sans-serif;
  font-size: 30px;
  position: absolute;
  top:10px;
  margin: 0 auto;
  left:0;right:0;
  text-align: center;
  font-weight:bold;
  width: 140px;
}

#sounds--btn--pause, #sounds--btn--play {
  border-bottom: 3px solid black;
  display: inline;
}

#sounds--btn--pause {
  display: none;
}

.sounds--img.active {
    opacity: 1;
    transform: translateY(-10px);
}

.sounds--img:nth-child(2) {
  height: 350px;
  background-image: url('/assets/articles/creative-travel/img/street.jpg');
  background-position: center 60%;
}

.sounds--img:nth-child(3) {
  height: 400px;
  margin-top: 80px;
  background-image: url('/assets/articles/creative-travel/img/night.jpg');
}

.sounds--img:nth-child(4) {
  height: 350px;
  background-size: cover;
  right:0;
  background-position: right center;
  background-image: url('/assets/articles/creative-travel/img/park.jpg')
}



@media (max-width: 900px) {
  #sounds {
    height: 530px;
    display: block;
    flex-direction: column;
    margin: 30px auto;
  }

  #sounds--btn {
    right: 20px;
    top: auto;
    bottom: 90px;
    margin: auto;
    left: auto;
  }
  
  .sounds--img {
    position: absolute;
    background-size: cover;
  }

  .sounds--img:nth-child(2) {
    width: calc(50% - 10px);
    height: 300px;
  }

  .sounds--img:nth-child(3) {
    width: calc(50% - 10px);
    right:0;
    height: 350px;
    top: 30px;
    margin: 0;
  }

  .sounds--img:nth-child(4) {
    width: calc(50% - 10px);
    left:0;
    height: 200px;
    background-position: 80% center;
    top: 320px;
  }
}
